<section id="ticket-info">
    <div><%= ticket.seat %></div>
    <div>Seat Number: 
        <input name="seat" required pattern="[A-F][1-9]\d?">
    </div>
    <div><%= ticket.price %></div>
    <div>Ticket Price: </div>
    <div><%= ticket.flight %></div>
    <div>Ticket Flight: </div>
</section>