<%- include('../partials/header') %>



     <h2>Enter Flight Info</h2>
     <form action="/flights" method="POST">
       <label>Airline:
         <input type="text" name="airline">
       </label><br>
       <label>Airport:
         <input type="text" name="airport">
       </label><br>
       <label>Flight Number
         <input type="number" name="flightNumber">
       </label><br>
       <label>Departure:
         <input type="datetime-local" name="departure" >
       </label><br>
       <button type="submit">Add Flight</button>
     </form>
     <p><%= errorMsg %></p>