<%- include('../partials/header') %>

<!-- <h2>Movie List</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>Flight Number</th>
      <th>Departure</th>
    </tr>
  </thead>
  <tbody>
     --> 


     <h2>Enter Flight Info</h2>
     <form action="/flights" method="POST">
       <label>Airline:
         <input type="text" name="airline">
       </label><br>
       <label>Airport:
         <input type="text" name="airport">
       </label><br>
       <label>Flight Number
         <input type="number" name="flightNumber">
       </label><br>
       <label>Departure:
         <input type="number" name="departure" >
       </label><br>
       <button type="submit">Add Flight</button>
     </form>
     <p><%= errorMsg %></p>